html{
	height:100%;
	body{
		font-family: 'Source Sans Pro', sans-serif;
		height:100%;
		.container-fluid{
			height:100%;
			.row{
				height:100%;
				.add-people{
					margin-right: 15px;
				}
				.top-bar{
					background: #275371;
				    padding: 15px;
					color: #fff;
					font-size: 18px;
				}
				.pagination{
					float: right;
				}
			}
		}
	}
}